@import 'global';
@import 'vars';

.header {
  background-color: #f5f5f5;
  border-top: 10px solid #778492;
  padding: 30px 0;

  &__logo {
    display: flex;

    &-img {
      align-self: center;

      img {
        width: 100px;
      }
    }
  }

  .logo-text {
    margin-left: 15px;

    &__title {
      font-size: 38px;
      font-weight: 700;
      color: #49515a;
    }

    &__desc {
      color: #778492;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &__social {
      display: flex;
      flex-wrap: wrap;

      li {
        &+li {
          margin-left: 5px;
        }
      }

      &-link {
        background-color: #b0b7bf;
        width: 36px;
        height: 36px;
        display: block;
        border-radius: 50%;
        text-align: center;
        line-height: 1.8em;
        font-size: 20px;
        color: #fff;
        transition: all .3s;

        &:hover {
          background-color: darken(#b0b7bf, 10%);
        }
      }
    }
  }

  &__button {
    .btn-success {
      padding-left: 30px;
      position: relative;

      &::before {
        content: "\f086";
        font-family: "FontAwesome";
        position: absolute;
        left: 7px;
      }
    }
  }
}

.main {
  padding-top: 70px;
}

.project {
  &__item {
    &+.project__item {
      margin-top: 20px;
    }

    &-title {
      padding-bottom: 10px;
    }

    &-button {
      text-align: right;
      margin-top: 10px;
    }
  }
}

.update {
  &__title {
    padding-bottom: 15px;
    padding-left: 30px;
    position: relative;

    &::before {
      content: '\f0ad';
      position: absolute;
      left: 0;
      font-family: "FontAwesome";
    }
  }

  &__desc {
    padding-bottom: 20px;
  }

  &__list {
    li {
      padding-left: 25px;
      position: relative;

      &+li {
        margin-top: 10px;
      }

      &::before {
        position: absolute;
        content: "—";
        left: 0;
      }
    }
  }

  .card {
    .btn-link {
      text-decoration: none;
      padding-left: 20px;
      position: relative;

      &::before {
        content: '\f0ad';
        position: absolute;
        left: 0;
        font-family: "FontAwesome";
      }
    }
  }
}


.skills {
  &__title {
    padding-bottom: 10px;
  }

  &__desc {
    margin-bottom: 20px;
  }

  &__item {
    &+.skills__item {
      margin-top: 20px;
    }

    &-heading {
      padding-bottom: 5px;
      color: #778492;
      font-weight: 700;
    }
  }
}

.planned {
  &__title {
    padding-bottom: 10px;
  }

  &__list {
    li {
      gul &+li {
        margin-top: 15px;
      }

      padding-left: 25px;
      position: relative;

      &::before {
        position: absolute;
        content: "—";
        left: 0;
      }
    }
  }
}

.footer {
  background: #32383e;
  padding: 10px 0;

  &__copyright {
    color: #a1aab4;
    font-size: 14px;
  }
}